@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --fg-normal: #FFFFFF;
  --fg-dark: #F0F0F0;
  --bg-normal: #232323;
  --bg-dark: #1B1A1A;
  --fg-accent-1: #B5BDF8;
  --bg-accent-1: #4A59A5;
  --fg-accent-2: #F8B5B5;
  --bg-accent-2: #A54A4A;

  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--bg-dark);
}

.folder-tag {
  width: fit-content;
  min-width: 160px;
  height: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  text-align: center;
}

.folder-tag-1 {
  background-color: var(--bg-accent-1);
  color: var(--fg-accent-1);
  border: solid 1px var(--fg-accent-1);
}

.folder-tag-2 {
  background-color: var(--bg-accent-2);
  color: var(--fg-accent-2);
  border: solid 1px var(--fg-accent-2);
}