@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --fg-normal: #FFFFFF;
  --fg-dark: #F0F0F0;
  --bg-normal: #232323;
  --bg-dark: #1B1A1A;
  --fg-accent-1: #B5BDF8;
  --bg-accent-1: #4A59A5;
  --fg-accent-2: #F8B5B5;
  --bg-accent-2: #A54A4A;

  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--bg-dark);
}

.folder-tag {
  width: fit-content;
  height: fit-content;
  --padding-x: 12px;
  --padding-y: 6px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  border-radius: 8px;
  text-align: center;
}

.folder-tag-1 {
  background-color: var(--bg-accent-1);
  color: var(--fg-accent-1);
  border: solid 1px var(--fg-accent-1);
}

.folder-tag-2 {
  background-color: var(--bg-accent-2);
  color: var(--fg-accent-2);
  border: solid 1px var(--fg-accent-2);
}

.file-list-item {
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  --padding-x: 18px;
  --padding-y: 6px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  border-radius: 16px;
  background-color: var(--bg-normal) !important;
}

.file-list-item-dark {
  background-color: var(--bg-dark) !important;
}

.file-list-item-outline {
  border: solid 1px var(--fg-dark) !important;
}

.file-list-item > .file-list-item-title {
  font-size: 16px;
  text-decoration: underline;
  color: var(--fg-dark);
}

.file-list-item > .file-list-item-tags {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  --padding-x: 2px;
  --padding-y: 2px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

.file-list-item > .file-list-item-tags > .folder-tag {
  width: 100%;
}