@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --fg-normal: #FFFFFF;
  --fg-dark: #F0F0F0;
  --bg-normal: #232323;
  --bg-dark: #1B1A1A;
  --fg-accent-1: #B5BDF8;
  --bg-accent-1: #4A59A5;
  --fg-accent-2: #F8B5B5;
  --bg-accent-2: #A54A4A;

  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.document-root {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--bg-dark);
  display: flex;
  gap: 12px;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: center;
}

.btn {
  all: unset;
  transition: .25s;
  font-size: 12px;
  text-align: center;
  width: fit-content;
  --padding-x: 16px;
  --padding-y: 8px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  background-color: var(--bg-dark);
  color: var(--fg-dark);
  border: solid 1px var(--fg-dark);
  border-radius: 4px;
}

.btn:hover {
  opacity: .5;
}

.btn-full-w {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.text-input {
  all: unset;
  transition: .25s;
  font-size: 12px;
  text-align: center;
  width: fit-content;
  --padding-x: 16px;
  --padding-y: 8px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  background-color: var(--bg-dark);
  color: var(--fg-dark);
  border: solid 1px var(--fg-dark);
  border-radius: 4px;
}

.text-input-full-w {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.folder-tag {
  width: fit-content;
  height: fit-content;
  --padding-x: 12px;
  --padding-y: 6px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  border-radius: 8px;
  text-align: center;
}

.folder-tag-1 {
  background-color: var(--bg-accent-1);
  color: var(--fg-accent-1);
  border: solid 1px var(--fg-accent-1);
}

.folder-tag-2 {
  background-color: var(--bg-accent-2);
  color: var(--fg-accent-2);
  border: solid 1px var(--fg-accent-2);
}

.file-list {
  width: fit-content;
  min-width: 200px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  overflow-x: hidden;
  overflow-y: visible;
  max-height: 95dvh;
}

.file-list > .file-list-item {
  width: 225px;
}

.file-list-item {
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  --padding-x: 18px;
  --padding-y: 6px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  border-radius: 8px;
  background-color: var(--bg-normal) !important;
}

.file-list-item-dark {
  background-color: var(--bg-dark) !important;
}

.file-list-item-outline {
  border: solid 1px var(--fg-dark) !important;
}

.file-list-item > .file-list-item-title {
  font-size: 16px;
  text-decoration: underline;
  color: var(--fg-dark);
}

.file-list-item > .file-list-item-tags {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  --padding-x: 2px;
  --padding-y: 2px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

.file-list-item > .file-list-item-tags > .folder-tag {
  width: 100%;
}

.file-list-group {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  --padding-x: 12px;
  --padding-y: var(--padding-x);
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  background-color: var(--bg-dark);
  border-radius: 16px;
}

.file-list-group-outline {
  border: solid 1px var(--fg-dark) !important;
}

.file-list-group-title {
  font-size: 16px;
  text-decoration: underline;
  color: var(--fg-dark);
}

.file-list-group > .file-list-group-items {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.path-input {
  width: fit-content;
  --height: 50px;
  display: grid;
  grid-template-areas: "stack";
  place-content: center;
  background-color: #FFF;
  border-radius: 8px;
  background-color: var(--bg-normal);
  color: var(--fg-dark);
  font-size: 12px;
  transition: .25s;
}

.path-input:hover {
  opacity: 50%;
}

.path-input > .path-input-label {
  height: var(--height) !important;
  grid-area: stack;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  z-index: 1;
  height: 100%;
}

.path-input > .path-input-input {
  height: var(--height) !important;
  grid-area: stack;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
  height: 100%;
}

.path-input-dark {
  background-color: var(--bg-dark) !important;
}

.path-input-outline {
  border: solid 1px var(--fg-dark) !important;
}

.path-input-full-w {
  width: 100% !important;
}

.path-input-chosen {
  --clr: rgb(51, 168, 51);
  border-color: var(--clr) !important;
  color: var(--clr);
}

.paths-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  background-color: var(--bg-dark);
  border: solid 1px var(--fg-dark);
  --padding-x: 16px;
  --padding-y: 16px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  border-radius: 16px;
}

.paths-form > .paths-form-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--bg-normal);
}

.paths-form > .paths-form-title {
  font-size: 17px;
  color: var(--fg-dark);
  text-align: center;
}

.lang-chooser {
  background-color: var(--bg-dark);
  border: solid 1px var(--fg-dark);
  color: var(--fg-dark);
  --padding-x: 4px;
  --padding-y: var(--padding-x);
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  border-radius: 4px;
}