:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-bg-dark: rgb(27, 27, 27);
  --color-bg-medium: rgb(34, 32, 32);
  --color-text: rgb(246, 246, 246);
  --color-error: rgb(235, 72, 72);
  /**/
  --color-secondary: rgb(255, 0, 63);
  --color-secondary-dark: rgb(127.5, 0, 31.5);
  /**/
  --color-tetiary: rgb(119, 255, 164);
  --color-tetiary-dark: rgb(59.5, 127.5, 82);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

body {
  all: unset;
  background: var(--color-bg-dark);
  color: var(--color-text);
}

#container {
  display: grid;
  place-content: center;
  height: 99dvh;
}

.row {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  padding-top: 8px;
}

.col {
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 6px;
  width: 250px;
}

.title {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.folder-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  height: 1rem;
  width: fit-content;
  border-radius: 4px;
  padding: 2px 4px;
}

.folder-icon:not([class*="folder-icon-text"]) {
  width: 14px;
  height: 14px;
  padding: 0;
}

.folder1-icon {
  background-color: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary);
  color: var(--color-text);
}

.folder1-icon[class*="folder-icon-text"]::before {
  content: "Folder 1";
}

.folder2-icon {
  background-color: var(--color-tetiary-dark);
  border: 1px solid var(--color-tetiary);
  color: var(--color-text);
}

.folder2-icon[class*="folder-icon-text"]:before {
  content: "Folder 2";
}

.folder-both-icon {
  border: 1px solid var(--color-text);
  color: var(--color-text);
}

.folder-both-icon:before {
  content: "Both";
}

#scan-paths-form > label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

#differences-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#differences {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 30px;
}

#differences::-webkit-scrollbar {
  border: 1px solid var(--color-text);
  border-radius: 4px;
}

#differences::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-radius: 4px;
}

.file-difference-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-size: 15px;
  list-style-type: none;
  color: var(--color-text);
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 10px;
  height: fit-content;
  width: 100%;
  border: 1px solid var(--color-text);
}

.file-difference-item > span {
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

.file-difference-item > .folder-icon {
  width: calc(100% - 100px);
}

h2 {
  text-align: center;
}

input,
button {
  all: unset;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text);
  transition: border-color 0.25s;
  border: 1px solid var(--color-text);
  box-shadow: 0 1px 1px var(--color-text);
}

input:focus,
button:focus {
  background: var(--color-bg-dark);
  border-color: var(--color-secondary);
  box-shadow: transparent;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--color-secondary);
  box-shadow: none;
}
button:active {
  border-color: var(--color-secondary);
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

.input-error {
  color: var(--color-error);
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  #container {
    display: none;
  }
  #error-screen-too-narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100dvh;
    width: 100dvw;
    color: var(--color-error);
    font-weight: bold;
  }
}

@media screen and (min-width: 750px) {
  #error-screen-too-narrow {
    display: none;
  }
}
